CATALOG_SERVICE_URL='http://catalog-service:5001'
RABBITMQ_URL='amqp://cakeuser:cakepass@rabbitmq:5672'
DATABASE_URL=postgres://order_user:order_pass@localhost:5434/order_db
NODE_ENV=development
PORT=5002
ALLOWED_ORIGIN=http://localhost:5500